*{
    color: white;
    /* background-color: #170f23; */
    font-family: 'Nunito Sans', sans-serif;
}
.rotate {
    animation: rotation 8s infinite linear;
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
  .scroll{
    overflow-y: scroll;
  }
  .scroll::-webkit-scrollbar{
    width: 6px;
    border-radius: 3px;
  }
  .scroll::-webkit-scrollbar-track {
    overflow: hidden;
    background-color: rgba(0, 0, 0, .2);
  }
  .scroll::-webkit-scrollbar-thumb {
    height: 48px;
    background-color: #740091;
  }