*{
    color: white;
    /* background-color: #170f23; */
    font-family: 'Nunito Sans', sans-serif;
}
.rotate {
    animation: rotation 8s infinite linear;
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }